/* stylelint-disable color-no-hex */
/* stylelint-disable number-max-precision */
.sidebar-wrapper {
    margin-top: 72px;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 30% 60%;
}

//.sidebar-collapsible-content {
//    display: flex;
//    flex-basis: 70%;
//    flex-grow: 1;
//}

.sidebar-submenu {
    position: relative;
    height: 100%;

    ul {
        font-size: 14px;

        li {
            list-style-image: none;
            margin: 0;
            line-height: 40px;
            min-height: 40px;
            padding: 0 16px;
            border-right: 1px solid #f4f4f6;
            background: #ffffff;

            a {
                text-decoration: none;
                display: block;
                color: #333333;
                padding: 0;
                font-weight: bold;
                font-size: 14px;

                &.selected {
                    color: #4c5794;
                    background: #f2f3f8;
                    text-decoration: none;
                }
            }
            &:hover {
                background: #ffffff;

                a {
                    color: #4c5794;
                }
            }
            &.active {
                background: #f2f3f8;
                border: none;
                border-right: 2px solid #4c5794;

                a {
                    background: #ffffff;
                    border: none;
                    padding: 0;

                    &.selected {
                        color: #4c5794;
                        background: #f2f3f8;
                        text-decoration: none;
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
        li.has-submenu {
            height: auto;
            border-right: 1px solid #f4f4f6;

            &.active {
                background: #ffffff;
                border: none;
            }
            a:before {
                content: none;
            }
            a.selected {
                color: #4c5794;
                background: #ffffff;
                text-decoration: none;
            }
            ul {
                &.collapsed {
                    display: block;
                }
                &.compressed {
                    display: none;
                }
                li {
                    a {
                        background: #ffffff;
                        border: none;
                        padding: 0;
                        font-weight: bold;
                    }
                    a.selected {
                        color: #4c5794;
                        background: #f2f3f8;
                        text-decoration: none;
                        border: none;
                        padding: 0;

                        &:hover {
                            color: #4c5794;
                            background: #f2f3f8;
                            text-decoration: none;
                            border: none;
                            padding: 0;
                        }
                    }
                }
                li.active {
                    background: #f2f3f8;
                    border: none;
                    border-right: 2px solid #4c5794;

                    a {
                        background: #ffffff;
                        border: none;
                        padding: 0;

                        &.selected {
                            color: #4c5794;
                            background: #f2f3f8;
                            text-decoration: none;
                            border: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}